# Игнорировать каталоги:
Include/
Lib/
Scripts/
venvhome/

# Игнорировать файлы:
1.py

# Игнорирование логов
logs
*.log

# Игнорирование файла содержащий переменные окружения
.env

# Игнорирование файлов специфичных для IDE
.idea/
